[submodule "external/SPUprocessorEmulator"]
	path = external/SPUprocessorEmulator
	url = https://github.com/Kunakbaev/SPUprocessorEmulator.git
[submodule "external/LoggerLib"]
	path = external/LoggerLib
	url = https://github.com/Kunakbaev/LoggerLib.git
